.place__title {
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  grid-area: title;
}

@media screen and (max-width: 768px) and (min-width: 415px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 414px) {
  .place__title {
    width: 90%;
    font-size: 32px;
    line-height: 35px;
  }
}