.nft {
  width: 80%;
  min-height: 48px;
  background: #0278FE;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: baseline;
  border-radius: 4px;
  grid-area: nft;
}

.nft:hover {
  background-color: #0063D2;
}

@media screen and (max-width: 768px) {
  .nft {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .nft {
    width: 90%;
    margin: auto;
  }
}