.place__paragraph {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  grid-area: paragraph;
}

.place__paragraph > p {
  margin: 0;
  row-gap: 25px;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    width: 40%;
  }
}

@media screen and (max-width: 414px) {
  .place__paragraph {
    width: 90%;
    align-self: center;
  }
  .place__paragraph > p {
    row-gap: 7;
  }
}