.intro__quote {
  width: 56%;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .intro__quote {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .intro__quote {
    margin-bottom: 10px;
  }
}