.places {
  width: 76.80%;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

@media screen and (max-width: 768px) and (min-width: 415px) {
  .places {
    width: 93.75%;
    row-gap: 31px;
  }
}

@media screen and (max-width: 414px) {
  .places {
    width: 100%;
    row-gap: 37px;
    margin-bottom: 55px;
  }
}