.lead__title {
  width: 70%;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  margin: 0 0 32px;
}

@media screen and (max-width: 768px) and (min-width: 415px) {
  .lead__title {
    width: 90%;
    margin-bottom: 99px;
  }
}

@media screen and (max-width: 414px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    margin: 0 0 60px;
  }
}

