.place {
  width: 100%;
  display: grid;
  grid-template-areas:
  "title website"
  "image paragraph"
  "nft paragraph"
  ". paragraph";
  grid-column-gap: 40px;
  grid-row-gap: 48px;
}

@media screen and (max-width: 768px) and (min-width: 415px) {
  .place {
    grid-column-gap: 28px;
    grid-row-gap: 46px;
  }
}

@media screen and (max-width: 414px) {
  .place {
    grid-template-areas:
    "title"
    "website"
    "image"
    "paragraph"
    "nft";
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}