.cover {
  width: 92.50%;
  min-height: 740px;
  display: flex;
  justify-content: center;
  vertical-align: center;
}

.cover:hover > .cover__overlay {
  opacity: 0.3;
  transition: opacity 0.5s ease;
}

@media screen and (max-width: 414px) {
  .cover {
    min-height: unset;
    align-items: center;
  }
}