.intro__title {
  width: 80%;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0 0 40px;
  }


  @media screen and (max-width: 768px) {
    .intro__title {
      width: 100%;
    }
  }

  @media screen and (max-width: 414px) {
    .intro__title {
      font-weight: 900;
      font-size: 32px;
      line-height: 35px;
      margin-bottom: 9px;
    }
  }