.photo-grid__item {

}

@media screen and (max-width: 768px) and (min-width: 414px) {
  .photo-grid__item {
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: 414px) {
  .photo-grid__item {
    width: 100%;
  }
}